<% line_item.each do |item| %>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
        <%= image_tag(item.product.image_url, class: 'img-thumbnail') %>
      </div>
      <div class="col-md-7">
        <h3><%= item.product.title %></h3>
        <%= sanitize(item.product.description) %>
      </div>
      <div class="col-md-3">
          <h3 class="text-center text-info"><%= number_to_currency(item.price) %></h3>
          <h3 class="text-center text-info"><%= item.quantity %> <%= t('.mult') %> </h3>
          <%= button_to t('.delete'), item, method: :delete, class: 'btn btn-danger btn-block' %>
      </div>
  </div>
</div>
<br />
<% end %>
